[Unit]
Description=USB gadget profile %i
Documentation=https://github.com/qpernil/usb-gadget-supervisor
After=local-fs.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/usb-gadget-supervisor/usb-gadget-supervisor --profile /opt/usb-gadget-supervisor/profiles/%i.toml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2s
KillMode=mixed
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
